<!DOCTYPE html>
<html lang="en">
<head>
  <title>showrecord</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
​
<div class="container mt-5 mx-auto">
  <a href="{% url 'Register' %}" class="btn btn-info">AddStudent Record</a>
  <h2 class="text-center bg-info p-2 mt-1">Display Data</h2>
  <table class="table table-hover">
    <thead class="bg-info text-center">
      <tr>
        <th>Sno</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody class="text-center">
      {% for i in data %}
      <tr>
          <td>{{ i.id }}</td>
          <td>{{ i.Firstname }}</td>
          <td>{{ i.Lastname }}</td>
          <td>{{ i.Username }}</td>
          <td>{{ i.Password }}</td>
          <td>{{ i.Email }}</td>
          <td>{{ i.Mobile }}</td>
          <td><a href="{% url 'Update' i.id %}" class="btn btn-outline-success m-1">Update</a><a href="{% url 'Delete' i.id %}" class="btn btn-outline-danger">Del</a></td>
      </tr> 
      {% endfor %}
    </tbody>
  </table>
</div>
​
</body>
</html>
​
