
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Logo</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'About' %}">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'Contact' %}">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}" style="margin-left: 800px">Login</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
    </li>
   <li class="nav-item" style="margin-left: 800px">
      <a class="nav-link" href="{% url 'profile' %}">Profile</a>
    </li>
    <li class="nav-item" style="margin-left: 20px">
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
  </div>
</div>
    {% endif %}
  </ul>
</nav>
