{% extends 'formsapp/base.html' %}

{% block title %} Profile Page {% endblock %}

{% block content %}

<div class="container col-md-8">
	<div class="card">
		
	
		<div class="card-header col-lg-4  mb-4  mt-2 mx-auto">
			<h2 class="bg-primary mt-2 p-2 text-center">Profile Details</h2>
		</div>
		<div class="card-body">
		<form class="POST">
			{% csrf_token %}
			<table class="  table table-borderless">

				
			<tr>
				<th>FirstName</th>
				<td><strong>{{request.user.first_name}}</strong></td>
			</tr>
			
			<tr>
				<th>LastName</th>
				<td>{{request.user.last_name}}</td>
			</tr>
			<tr>
				<th>Username</th>
				<td><strong>{{request.user.username}}</strong></td>
			</tr>
			<tr>
				<th>email</th>
				<td>{{request.user.email}}</td>
			</tr>
			<tr>
				<th>LastLogin</th>
				<td>{{request.user.last_login}}</td>
			</tr>
			<tr>
				<th>Date Of Joining</th>
				<td>{{request.user.date_joined}}</td>
			</tr>
			</table>
			<a href="{% url 'updatepro' %}" class="btn btn-outline-warning">Update</a>	
		</form>
</div>
	</div>
	</div>
	
</div>



<!-- <div class=" p-4 m-4"> 
	

	<div class="card col-lg-4  mb-4  mt-2 mx-auto">
		<h2 class="bg-primary mt-2 p-2 text-center">Profile Details</h2>
		
			
		</div>
		
		
	</div>
	
</div>	 -->



{% endblock %}