<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		body{
			background-color: #E890F7 ;
		}
		h3{
			color: #E4355F ;
			font-family: inherit;
			text-align: right;
		}
		p{
			background-color: #6CE6D0 ;
			text-align: center;
		}
		
	</style>
</head>
<body>
	<h1 style="font-family: initial;text-align: center;color: #D442EE; background-color: #3069C7 ">This is Example of Inline</h1>

	<h2>welcome to VRSEC</h2>

	<h3>Example of Internal</h3>
	<p>
		Well organized and easy to understand Web building tutorials with lots of examples of how to use HTML, CSS, JavaScript, SQL, PHP, Python, Bootstrap, Java ...
	</p>

</body>
</html>