{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>example</title>
	<style type="text/css">
		body{
			background-image: url({% static 'images/back.png' %});
			background-repeat: no-repeat;
			background-size: cover;
		}
	</style>
</head>
<!-- <body background="{% static 'images/back.png' %}" style="background-repeat: no-repeat; background-size: cover;">
	<center>
		<h1 style="color: #5CF1E2 ">Name : Archana</h1>
		<h2 style="color: #5CF1E2 ">Roll : 540</h2>
		<h3 style="color: #5CF1E2 ">College : GEC</h3>
		<h4 style="color: #5CF1E2 ">Org : APSSDC</h4>
	</center>

</body>
 -->
<body>
	<center>
		<h1 style="color: #4BF24B ">Name : Archana</h1>
		<h2 style="color: #4BF24B ">Roll : 540</h2>
		<h3 style="color: #4BF24B ">College : GEC</h3>
		<h4 style="color: #4BF24B ">Org : APSSDC</h4>
	</center>
	
</body>


 </html>